
/* kontainer */
.container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background: #002652;
    color: #ffffff;
    padding: 20px 0;
}

header .container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

header .logo {
    font-size: 1.8rem;
    font-weight: bold;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline; 
    margin-left: 20px;
}

header nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
}

header nav ul li a:hover {
    color: #b2dfdb;
    text-decoration: none;
}
header nav ul li img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ffffff;
    vertical-align: middle;
}

