* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* konten */
.header {
  position: relative;
  background: #00bab1; 
  padding: 60px 60px;
  text-align: center;
  border-bottom: 1px solid #c0d1c0;
  overflow: hidden;
}

/* Lapisan gambar blur */
.header::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url('../upload/images/6914a88d5533c.jpg') center/cover no-repeat;
  filter: blur(6px);
  transform: scale(1.1);
  z-index: 0;
}

.header::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 128, 0, 0.35);
  z-index: 1;
}

.header h2 {
    font-size: 2.5rem;
    margin-bottom: 15px;
    color: #ffffff; 
    position: relative;
    z-index: 2;
}

.header p {
    font-size: 1.6rem;
    margin-bottom: 25px;
    color: #faf0f0;
    position: relative;
    z-index: 2;
}

/* login */
.login-container {
    background: #ffffff;
    max-width: 500px;
    margin: 20px auto;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.login-container h2 {
    text-align: center;
    color: #004d40;
    margin-bottom: 25px;
    font-size: 2rem;
    border-bottom: none;
    padding-bottom: 0;
}

.login-input {
    margin-bottom: 20px;
}

.login-input label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}
.login-input input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1rem;
}

.login-input input:focus {
    border-color: #00796b;
    outline: none; 
}
.btn-submit {
    width: 100%; 
    background: #00796b; 
    color: #ffffff;
    padding: 12px;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    border: none; 
    cursor: pointer; 
}

.btn-submit:hover {
    background: #004d40; 
}