
/* konten */
.header {
  position: relative;
  background: #00bab1; 
  padding: 60px 60px;
  text-align: center;
  border-bottom: 1px solid #c0d1c0;
  overflow: hidden;
}

/* Lapisan gambar blur */
.header::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url('../upload/images/6914a88d5533c.jpg') center/cover no-repeat;
  filter: blur(6px);
  transform: scale(1.1);
  z-index: 0;
}

.header::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 128, 0, 0.35);
  z-index: 1;
}

.header h2 {
    font-size: 2.5rem;
    margin-bottom: 15px;
    color: #ffffff; 
    position: relative;
    z-index: 2;
}

.header p {
    font-size: 1.6rem;
    margin-bottom: 25px;
    color: #faf0f0;
    position: relative;
    z-index: 2;
}
